.Tittel{
    background-color: bisque;
    overflow: hidden;
    height: 100px;
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: meny;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    border: solid 2px ;

}
.Tittel h1{
    color: white;
}

@keyframes meny{
    5%{background-color: aqua;}
    25%{background-color:orange;}
    50%{background-color: lime;}
    75%{background-color: yellow;}
    100%{background-color: red;} 
}


#boks{
    margin-top: 20%;
    border:3px solid;
    width: 20%;
    position: absolute;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lime;
}

#boks a{
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 25px;
}
#boks a:hover{
    color: red;
}

body{
    margin: 0px;
}
