@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #070a13;
}

.oppsett {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50rem;
}

#info > h1 {
    color: #4070f4;
    font-size: 70px;
    text-transform: uppercase;
}
#info > h2 {
    color: #A9A9A9;
    font-size: 40px;
}

#info > p{
    color: #A9A9A9;
    font-size: 20px;
    padding: 25px 0px;
}

#profil-bilde{
    border: 3px solid #4070f4;
    width: 80%;
    max-width: 500px;
    border-radius: 100px 15px;
}


#prosjekter > p{
    color: #A9A9A9;
    font-size: 15px;
    margin-bottom: 15px;
}

.prosjekt-tittel{
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    margin-top: 125px;
}

#arbeid-tittel{
    font-size: 70px;
    color: #4070f4;
}

.link{
    padding: 15px 15px;
    border:2px solid; 
    border-radius: 50px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#link-top{
    float: left;
}

.link:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
html{
    scroll-behavior: smooth;
}
