/*Gjør at bakgrunnsbilde dekker hele skjermen og gjør den mørkere. Sier også at alt innenfor body er inntil kantene på 
skjermen og legger inn skrift typen Times New Roman*/
body {
    width: 100%;
    height: 115vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./fjell.jpg);
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-color: black;
}

/*denne koden gjør at jeg kan definere bredden og høyden på */
.Droppmeny {
    display: inline-block;

}

/*Her definerer jeg hvordan knappen skal se ut og hvor den skal være*/
.Droppmeny button {
    border: none;
    padding: 5px;
    background-color: grey;
    color: white;
    font-size: 20px;
    text-align: center;
}

/*Her legger jeg til en effekt sånn at når jeg har musepekeren over knappen blir bakgrunssfargen svart*/
.Droppmeny:hover button {
    background-color: black;
}

/*Denne koden henviser til at div-er som er innefor klassen droppmeny skal ha en viss farge og være usynelig til
senere hvor en annen kode gjør at man kan se den. z-index gjør at linkene kommer rett under hverandre*/
.Droppmeny div {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    transition: 0.4s;
    opacity: 0;
}

/*Denne koden gjør at man kan se alt av linker til informasjon når man har musepekerene over knappen*/
.Droppmeny:hover div {
    visibility: visible;
    opacity: 1;
}

/* Her definere jeg hvordan linkene innenfor div-ene i droppmeny klassen skal se ut*/
.Droppmeny div a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: black;
}

/*Denne koden gjør at når jeg tar musepekeren over linkene innenfor div-er i droppmeny klassen 
blir bakgrunnsfargen grå*/
.Droppmeny div a:hover {
    background: grey;
}

/*Sier hvilken farge og størrelse skrift innenfor p skal se ut*/
p {
    color: white;
    font-size: 20px;
}

/*Koden her definerer hvor og hvordan bildet skal se ut innenfor klassen .bilde*/
.bilder img {
    float: left;
    position: relative;
    left: 500px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.4s;
}

/*Koden gjør at når jeg hvovrer over et bilde innenfor den spesifike klassen flytter bildet seg opp 10px*/
.bilder img:hover {
    transform: translateY(-10px);
}

/* Sier om fargen teksten i selve tabellen skal være og hvor bred den minimalt skal være og jeg runder om kantene på 
borderen for å få en rund form på toppen*/
.tabell-innhold {
    color: white;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    min-width: 400px;
    text-align: center;
}

/*Forteller om hvilke type bakgrunssfarge og type tekst overskriften av tabellen skal være*/
.tabell-innhold thead tr {
    background-color: #FF886E;
    font-weight: bold;
    text-align: left;
}

/* Henviser til hvor mye rom det skal være mellom forskjellige ting som f.eks. vært punkt i tablellen*/
.tabell-innhold th,
.tabell-innhold td {
    padding: 10px 15px;
}

/*Forklarer at på bunden av tabellen skal det lages en border som er 2px tykk*/
.tabell-innhold tbody tr {
    border-bottom: 2px solid white;
}

/* Denne koden definerer utsendet til hvordan linkene innnenfor tabellen skal se ut og hvor lang tid 
bruker for å ta effekt*/
.tabell-innhold a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

/* Koden forteller hvilke farge som skal vises når jeg tar musepekeren over lenkene innenfor tablellen*/
.tabell-innhold a:hover {
    color: #FF886E;
}

/*Lagd en klasse for listen min., og her definerer jeg at den skal være litt rund på kantene
og at den har en border. Bruker margin auto for å få den i midten og opacity for å gjøre den gjennomsiktig*/
.liste {
    border-radius: 10px;
    border: 2px solid;
    width: 500px;
    height: 400px;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    margin-top: 50px;
}

/*Definerer alle ul innenfor ol som er innenfor div-en som jeg bruker til listen min, forteller om 
utsenden og hvor langt unna ul kodene skal være fra ol kodene*/
.liste ol>ul {
    list-style-type: disc;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Definerer hvor og hvordan h2 skal se ut innenfor div-en*/
.liste h2 {
    color: black;
    text-decoration: underline;
    text-align: center;
}

/*Definerer img innenfor BildeKort, og her har jeg brukt display block og margin right og left for å fåd en i midten og under listen jeg har lag.
Gir bildet runde kanter og har definert hvor langt unna bildet skal være listen fra toppen av.*/
.BildeKort img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

/*Ifram blir brukt til å få inn et lite google maps bilde som viser hvor galdøpiggen er. Har brukt samme koder som i BildeKort
for å plassere den i midten av skjermen og 10px unna bildet fra toppen av.*/
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

/*Denne id-en blir brukt for å lage en link som frakter meg til toppen av siden jeg er på. Kodene definerer 
utseende til linken*/
#LinkTop,
a {
    font-size: 30px;
    color: #FF886E;
    text-decoration: none;
}

/*Linken får en effekt når man tar musepekeren over*/
#LinkTop:hover {
    color: red;
}