h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}


.oppsett button{
    margin: 8px;
}

p {
    text-align: center;
    font-size: 20px; 
}